.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f8fafc;
}

.layout-main {
  margin-left: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  margin-top: 70px;
  padding: 30px;
  flex: 1;
}
